/* GENERAL */
body{
  /* padding-top:90px; */
  font-family: 'Lato', sans-serif;

}

/* Utilities */
section{
  /* padding-top:100px; */
  padding-bottom:100px;
}

h1, h2, h3, h4, h5, h6{
  margin-top:0;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  /* line-height: 40px; */
}

.mt-30{
  margin-top:30px;
}

.mt-60{
  margin-top:60px;
}

.mb-30{
  margin-bottom:30px;
}

.mb-60{
  margin-bottom:60px;
}


.padd{
  padding: 30px;
}

ul{
  list-style: none;
}


/* Nav-Bar */
.main-header{
  margin-bottom: -20px;
}
.navbar .navbar-brand img{
  height:30px;
  line-height:30px;
  padding:0 15px;

}

.main-header .navbar-nav > li > a{
  margin-left:60%;
  color: black;
  font-size: 15px;
  vertical-align: 15px;
  font-weight: bold;
  transition: background .4s;
}

.main-header .navbar-nav > li > a:hover,
.main-header .navbar-nav > .active > a{
  background: rgba(0,0,0, .2);

}

.main-header .navbar-nav > .active > a:hover{
  background: rgba(0,0,0, .5);
}

.navbar-nav.navbar-right{
  margin-right: 40px;
}

.navbar-form.navbar-right .btn-default{
  border-color:blue;
  color:blue;
  padding:10px;

}

/* Hero */

.main-form{
border-radius: 10px;
background-color: #fff;
}

.register-form{
  padding: 15px;
}

.hero-section{
  background-image: url(./img/bg-banner-home.jpg);
}


.hero-section .google-logo{
  width:30px;
}

.main-form h1{
  text-align: center;
  padding-top: 30px;
}

.main-form h2{
  text-align: center;
  margin-top: 10px;
}

.main-form h2: last-child{
  color: blue;
}

.text-hero{
  color:#fff;
}

.text-hero h1{
  font-size: 50px;
  font-weight: bold;
  line-height: 60px;
}

.text-hero p{
  line-height: 40px;
  font-size: 20px;
}
/* Logos */
.logos{
  background-color: #f3f5f9;
}

.logo img{
  width: 120px;
  margin-left:50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logos .link-blue{
  font-size: 18px;
  color:blue;

}

/* liste-paragrafi */

.liste-paragrafi .left li{
  border: 1px solid black;
  height:30px;
  border-top: none;
  border-bottom: none;
  border-right:none;
  padding-left: 10px;
  padding-bottom: 50px;
  list-style: none;
  font-size: 18px;
}

/* Droplet */
.droplet{
  background: #f3f5f9;
}
.droplet h2{
  font-weight:800;
}
.droplet p{
  font-size: 18px;
}
.droplet .points{
  color: blue;
  padding-left: 20px;
}

.row-table{
  display: table;
}

.row-table [class*="col-"]{
float: none;
display: table-cell;
vertical-align: middle;
}

.business p{
  line-height: 20px;
}

.business a{
  color:blue;
}

/* <!-- Tables --> */
.tables{
  background: linear-gradient(90deg, rgba(22,15,135,1) 0%, rgba(42,60,163,1) 38%, rgba(0,67,251,1) 68%, rgba(21,22,135,1) 100%);
}

.tables h1{
  color:#fff;
  font-weight: bold;
}

.tables li{
  color:white;
  list-style: none;
  font-size: 16px;
  border:1px solid white;
  border-top: none;
  border-right: none;
  border-left: none;
  width:200px;
  padding-top: 20px;
}

.tables a {
  color:#fff;
}

/* RockerBox */
.wrapper{
  width:600px;
  height:400px;
  background-color: #fff;
  /* border: 1px solid red; */
  border-radius: 10px;
  margin:auto;
}

.wrapper img{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper h4{
  padding-top: 200px;
  padding-left:10px;
  padding-right: 10px;
}

/* GetStarted */
.get-started h2{
  color: white;
  font-weight: bold;

}

.btn-account{
padding: 15px;
background-color: #fff;
color:blue;
border-radius: 5px;
position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */

.main-footer a{
  color: #fff;
}
.main-footer {
  color: #fff;
}
.first, .second, .third, .fourth, .fifth{
  padding-top:60px;
  line-height: 40px;
}

.main-footer{
  background: linear-gradient(90deg, rgba(22,15,135,1) 0%, rgba(42,60,163,1) 38%, rgba(0,67,251,1) 68%, rgba(21,22,135,1) 100%);
  }
}

/* shark */
.baby-shark{
  margin: auto ;
}
.box-shark{
  border:1px solid red;
  background-color:white;
  width: 200px;
  height:50px;
  border-radius: 10px;
  float: left;
  }

  .box-shark p{
    font-size: 12px;
    padding:5px;
    margin-top: 6px;
    text-align: center;
    color: black;
  }

.shark{
  width: 100px;
  }
